.project-heading{
    margin: 2rem 0;
    font-size: 3rem;
}
.project-container{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    gap: 1rem;
    max-width: 65rem;
    flex-wrap: wrap;
}
.project-card{
    position: relative;
    display: flex;
    width: 95%;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    height: 35rem;
    background-color: rgb(50,50,50);
}
.project-title{
    font-size: 2rem;
    font-weight: 600;
}
.pro-detail{
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 1rem;
    height: 30%;
}
.pro-btns{
    margin: 2rem 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns{
    border-radius: 3px;
    background-color: white;
    color: black;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}
.projectImg{
    background-color: white;
    object-fit: cover;
    width: 95%;
    transition: opacity 0.3s ease;
    margin-bottom: 1rem;
}
.projects-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.carousel-btn {
    background-color: rgb(50,50,50);
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    height: 100%;
    border-radius: 5px;
    align-self:flex-end;
  }
  .carousel{
    width: 100%;
    margin: 0 auto;
  }
  .portfolioBtn{
    padding: 0.5rem 2.5rem;
    background: white;
    color: black;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    margin: 3rem 0;
}
